.cover {
    top: 0;
    left: 0;
    right: 0;
    &.row {
        left: 15px;
        right: 15px;
    }
    &.down {
        bottom: 0;
    }
}
.collapse.show {
    display: flex !important;
}

.cursor-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}

.image-gallery {
    transition: all 500ms ease;
}

button.click-arrow,
button.click-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0 !important;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    &.click-icon-left {
        cursor: url("/pages/img/img-cursor-left.png"), auto !important;
    }
    &.click-icon-right {
        cursor: url("/pages/img/img-cursor-right.png"), auto !important;
    }
    &.click-icon-close {
        cursor: url("/pages/img/img-cursor-grid.png"), auto !important;
    }
}

#bg-fader.down {
    background: rgba(0, 0, 0, 0.5);
}

.image-slider img {
    max-height: 85vh;
}
.image-gallery:nth-child(4) {
    padding-right: 0 !important;
}
