.cover {
    top: 0;
    left: 0;
    right: 0;
    &.row {
        left: 15px;
        right: 15px;
    }
    &.down {
        bottom: 0;
    }
}
#imgDropdown.collapse.show {
    display: flex !important;
}

.cursor-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}

.image-gallery {
    transition: all 500ms ease;
}

.click-left:hover,
.click-right:hover {
    background: rgba(0, 0, 0, 0.25);
}

#bg-fader.down {
    background: rgba(0, 0, 0, 0.5);
}
